#myVideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    
}

.ser-block {
    max-height: 500px;
    min-height: 500px;
}

.nav-img {
    max-width: 400px;
}

.nav-img__mobile {
    max-width: 200px;
}

.mobile_bgc>img {
    max-width: 100%;
    display: none;
}

.mobile_bgc>img{
    position: relative;
}



@media (max-width: 768px) {
    #myVideo {
        display: none;
    }
    .mobile_bgc>img {
        display: block;
    }
    .about {
        background-color: rgba(255, 255, 255, 0.575);
        background-image: none;
    }
}


.form {
    position: absolute;
    top: 30%;
    right: 15%;
    
    max-width: 700px;
    background-color: #00000067;
    padding: 100px 100px;
}

.form>h2{
    color: white;
}

.text-box {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-box_content {
    max-width: 500px;
}

.text-box_img {
    max-width: 500px;
}

.testimonial-item {
    max-height: 600px;
    min-height: 600px;
}


@media (max-width: 768px) {
    .form {
        position: relative;
        max-width: 500px;
        min-width: 500px;
        background: none;
        
    }
    .form>h2 {
        color: black;
    }

    .text-box {
        display: block;
    }
}