body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(212, 208, 208);
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    background-color: #fff;
    padding: 20px;
}
h1 {
    text-align: center;
}
.text {
    text-align: center;
}
h5 {
    color: red;
}

.footer {
    text-align: center;
}